<footer>
    &copy; website made by Jose Leonardo Alvarez Hoyos - josealvarez1654@outlook.com
    <div class="redes">
        <ul>
            <li class="Facebook"><img src="../../../assets/img/facebook.png" alt="facebook" height="25px" width="25px"></li>
            <li class="Twitter"><img src="../../../assets/img/twitter.png" alt="twitter" height="25px" width="25px"></li>
            <li class="Instagram"><img src="../../../assets/img/instagram.png" alt="instagram" height="25px" width="25px">
            </li>
        </ul>
    </div>
</footer>
