#tercera-parte{
    background-color: #1e172f;
    height: auto;;
}
#contenedor-3{
    display: flex;
    justify-content: center;
}
#texto{
    height: 110px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
#tercera-parte h3{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 50px;
}
#mini-contenedores{
    display: flex;
    justify-content: space-evenly;
    width: 925px;
    flex-wrap: wrap;
}
#mini-contenedores span{
    font-size: 20px;
    font-weight: 600;
}
.padre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mini{
    
    border: 5px solid;
    width: 285px;
    height: 630px;
    background-color: #ffffff;
    border-radius: 10px;
    
    
}
#conte{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
}



#conte{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}

#conte2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
font-size: 77px;
margin-bottom: 5%;
margin-top: 0%;
}



.contenedor-mini{
    display: flex;
    align-items: center;
    height: 150px;
    text-align: center;
}
.contenedor-mini p{
    display: flex;
    align-items: center;
    padding: 15px;
}
.suscribe1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #f1f1f1;
}
.suscribe1 button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    background:linear-gradient(to right, #eb61a8, #f31c89);
}
.suscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #f1f1f1;
}
.suscribe button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    background:#1e172f;
}
